<div class="row">
<h1>Create Post</h1>
    <form action="/admin/generate-fake-posts" method="post">

        <div class="form-group">
            <input name="amount" type="number" class="form-control">
        </div>

        <button type="submit" class="btn btn-dark">Generate</button>
    </form>
</div>