<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>

<!--     <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->

    <title>{{title}}</title>
    <link rel="shortcut icon" href="/pic/robot.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Material Design Bootstrap -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet"> -->

    <!-- JQuery -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- Bootstrap tooltips -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script> -->
    <!-- Bootstrap core JavaScript -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <!-- MDB core JavaScript -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script> -->

    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">

    <!-- GeoGebra API -->
    <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
    <link href="/intro.js/introjs.css" rel="stylesheet">


    <style type=text/css>
        svg{
            display: block;
            margin: auto;
        }

        #ggb {
            display: block;
            margin: auto;
        }

        #slide_lecture, #lecture_pg2 { /* or use classes */
            display: none;
        }

        img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }

    </style>
</head>




<body>
{{{body}}}
</body>

<!-- Footer -->
{{>lecture/footer}}



<!-- Dynamic Display JS code -->
<script type="text/javascript">
    // displayLecture();
    window.onload = function() {

        document.getElementById('lecture-btn').onclick = function() {
            displayLecture();
        };

        document.getElementById('playground-btn').onclick = function() {
            displayCircuit();
        };

        // document.querySelector('#next-btn-test').onclick = testNextPg;
        // document.querySelector('#prev-btn-test').onclick = testPrevPg;
    };

    function displayLecture() {
        document.querySelector('#slide_circuit').style.display = 'none';
        document.querySelector('#slide_lecture').style.display = 'block';
    }

    function displayCircuit() {
        document.querySelector('#slide_lecture').style.display = 'none';
        document.querySelector('#slide_circuit').style.display = 'block';
    }

    // TODO: Should be changed to nextPg(currentPg)
    // TODO: if current is alr 1st pg disable prev button
    // TODO: bind keyboard
    function testNextPg() {
        document.querySelector('#lecture_pg1').style.display = 'none';
        document.querySelector('#lecture_pg2').style.display = 'block';
    }
    function testPrevPg() {
        document.querySelector('#lecture_pg2').style.display = 'none';
        document.querySelector('#lecture_pg1').style.display = 'block';
    }

</script>
