<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <title>{{title}}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">

    <!-- GeoGebra API -->
    <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>

    <style type=text/css>
        svg{
            display: block;
            margin: auto;
        }

        #ggb {
            display: block;
            margin: auto;
        }

        #slide_lecture, #lecture_pg2 { /* or use classes */
            display: none;
        }

        img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }

    </style>
</head>




<body>
{{{body}}}
</body>

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">


    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook mr-3"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/" target="_blank">
            <i class="fa fa-youtube mr-3"></i>
        </a>

        <a href="https://plus.google.com/" target="_blank">
            <i class="fa fa-google-plus mr-3"></i>
        </a>

        <a href="https://dribbble.com/" target="_blank">
            <i class="fa fa-dribbble mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Copyright:
        <a href="#" target="_blank">something.com</a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!--Skadoosh-->
<script type="text/javascript"></script>



<!-- Dynamic Display JS code -->
<script type="text/javascript">
    // displayLecture();
    window.onload = function() {

        document.getElementById('lecture-btn').onclick = function() {
            displayLecture();
        };

        document.getElementById('playground-btn').onclick = function() {
            displayCircuit();
        };

        document.querySelector('#next-btn-test').onclick = testNextPg;
        document.querySelector('#prev-btn-test').onclick = testPrevPg;
    };

    function displayLecture() {
        document.querySelector('#slide_circuit').style.display = 'none';
        document.querySelector('#slide_lecture').style.display = 'block';
    }

    function displayCircuit() {
        document.querySelector('#slide_lecture').style.display = 'none';
        document.querySelector('#slide_circuit').style.display = 'block';
    }

    // TODO: Should be changed to nextPg(currentPg)
    // TODO: if current is alr 1st pg disable prev button
    // TODO: bind keyboard
    function testNextPg() {
        document.querySelector('#lecture_pg1').style.display = 'none';
        document.querySelector('#lecture_pg2').style.display = 'block';
    }
    function testPrevPg() {
        document.querySelector('#lecture_pg2').style.display = 'none';
        document.querySelector('#lecture_pg1').style.display = 'block';
    }

</script>
