
<!--Main Navigation-->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Animated Epp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- TODO: Do better for smaller screen -->
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Topics
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/lecture/ohms_law">Ohm's Law</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/lecture/RC_circuit_DC">DC Transient - Capacitor</a>
                            <a class="dropdown-item" href="/lecture/RL_circuit_DC">DC Transient - Inductor</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/lecture/RC_circuit">RC Circuit (AC)</a>
                            <a class="dropdown-item" href="/lecture/RL_circuit">RL Circuit (AC)</a>
                            <a class="dropdown-item" href="/lecture/RLC_series_circuit">Series RLC Circuit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/lecture/high_pass_filter">High Pass Filter</a>
                            <a class="dropdown-item" href="/lecture/low_pass_filter">Low Pass Filter</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quiz">Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="/admin/posts/{{id}}" id="admin" >Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->
