
<body>

{{>lecture/home-nav}}


<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">
        <section class="mb-4">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-7 mb-3">

                    <div class="view overlay z-depth-1-half">
                        <div id='ggb'></div>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 mb-3">

                    <div class="view overlay z-depth-1-half">
                        <!-- <iframe> -->
                        <!-- TODO: find out some way to determine the size of the object wrt to the child instead of hard-coding -->
                        <!-- object id="svgObj" data="RC_Circuit_svg.html" width="500px" height="500px"></object> -->

                        <!-- testing new nav tab -->
                        <div>
                        	<ul class="nav nav-tabs" role="tablist">
							  <li class="nav-item">
							    <a id="lecture-btn" class="nav-link active" href="#" data-toggle="pill">Lecture</a>
							  </li>
							  <li class="nav-item">
							    <a id="playground-btn" class="nav-link" href="#" data-toggle="pill">Playground</a>
							  </li>
							</ul>
                        </div>

                        <!-- TODO: Pagination (display current page number) -->
                        <div id="slide_lecture">
                            <!-- Card -->
                            <div class="card" height="100%" width="100%">
                                <!-- Card image -->


                                <!-- Card content -->
                                <div id="lecture_pg1" class="card-body">

                                    <!-- Title -->
                                    <div id="example1"></div>
                                    <script src="/pdfjs/pdfobject.js"></script>


                                    <!--<embed src="/uploads/Week 1 Studio 2_sem1Ay1819_v6b.pdf" type="application/pdf" width=450px height= 300px>-->


                                </div>

                            </div>
                            <!-- Card -->
                        </div>

                        <div id="slide_circuit">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="412" height="474.13405405405405" viewBox="10 -2.9000000000000004 185 212.9"><title></title><style type="text/css">
                                #g1 circle.pindot {fill: none;stroke: none;pointer-events: fill;}#g1 rect, #g1 circle, #g1 ellipse, #g1 polyline, #g1 line, #g1 polygon, #g1 path {shape-rendering: crispEdges;}path, polyline, polygon {stroke-linejoin:round;}
                                rect, circle, ellipse, polyline, line, polygon, path {shape-rendering:crispEdges;}
                            </style>
                                <rect x="10" y="-2.9000000000000004" width="185" height="212.9" fill="#FFFFFF" stroke="none"/><g id="g1" c_spiceCmd="null" c_para="Prefix Start`1`" importFlag="0" c_portOfADImportHack="" c_transformList="" xmlns="http://www.w3.org/2000/svg"><g c_origin="125,55" c_para="package`AXIAL-0.3`nameAlias`Value(&#x3a9;)`BOM_Manufacturer Part`?`spicePre`R`spiceSymbolName`Res_AXIAL-0.3(1/8W)_US`" c_partid="part_import_gge194" id="gge194" c_shapetype="group" c_etype="pinpart" c_rotation="90"><g c_partid="part_annotation" id="gge196" ><text c_note="note_name" x="132" y="67.203125" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  >1k</text></g><g c_partid="part_annotation" id="gge198" ><text c_note="note_pre" x="132.0078125" y="58.22" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  >R1</text></g><polyline points="125 40 130 43" stroke="#A00000" id="gge200" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline points="120 48 130 53" stroke="#A00000" id="gge201" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline points="130 43 120 48" stroke="#A00000" id="gge202" stroke-width="1"   fill="none" stroke-linecap="round" /><g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="2" c_origin="125,35" id="gge203" c_rotation="90"><circle c_pindot="true" class="pindot" cx="125" cy="35" r="2" fill="#4F4F4F" stroke="none" /><path d="M 125 35 v 5" fill="none" stroke="#800" stroke-width="1"/><text x="125" y="44" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="end" display="none" transform="rotate(270,125,44)" >2</text><text x="121" y="36" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="start" display="none" transform="rotate(270,121,36)" >2</text><circle cx="125" cy="37" r="3" stroke="#800" fill="none" stroke-width="1" display="none" /><path d="M 122 40 L 125 43 L 128 40" fill="none" stroke="#800" stroke-width="1"  display="none" /></g><polyline points="130 62 120 67" stroke="#A00000" id="gge210" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline points="130 53 120 57" stroke="#A00000" id="gge211" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline points="120 57 130 62" stroke="#A00000" id="gge212" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline points="120 67 125 70" stroke="#A00000" id="gge213" stroke-width="1"   fill="none" stroke-linecap="round" /><g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="1" c_origin="125,75" id="gge214" c_rotation="270"><circle c_pindot="true" class="pindot" cx="125" cy="75" r="2" fill="#4F4F4F" stroke="none" /><path d="M 125 75 v -5" fill="none" stroke="#800" stroke-width="1"/><text x="125" y="66" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="start" display="none" transform="rotate(270,125,66)" >1</text><text x="121" y="74" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="end" display="none" transform="rotate(270,121,74)" >1</text><circle cx="125" cy="73" r="3" stroke="#800" fill="none" stroke-width="1" display="none" /><path d="M 128 70 L 125 67 L 122 70" fill="none" stroke="#800" stroke-width="1"  display="none" /></g></g><rect id="gge229" x="20" y="10"   width="165" height="190" stroke="none" stroke-width="1" fill="none" c_shapetype="line"  /><g c_origin="85,35" c_para="package`RAD-0.1`nameAlias`Value(F)`BOM_Manufacturer Part`?`spicePre`C`spiceSymbolName`Capacitor`" c_partid="part_import_gge257" id="gge257" c_shapetype="group" c_etype="pinpart" c_rotation="90"><g c_partid="part_annotation" id="gge259" ><text c_note="note_name" x="79.03125" y="24.5" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  >1u</text></g><g c_partid="part_annotation" id="gge261" ><text c_note="note_pre" x="79.0390625" y="15.5" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  >C1</text></g><polyline points="75 35 81 35" stroke="#8D2323" id="gge263" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline points="95 35 88 35" stroke="#8D2323" id="gge264" stroke-width="1"   fill="none" stroke-linecap="round" /><rect id="gge265" x="86" y="27.5"   width="1.8" height="14.7" stroke="#8D2323" stroke-width="1" fill="none"   /><rect id="gge266" x="81" y="27.5"   width="1.8" height="14.7" stroke="#8D2323" stroke-width="1" fill="none"   /><g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="1" c_origin="65,35" id="gge267" c_rotation="0"><circle c_pindot="true" class="pindot" cx="65" cy="35" r="2" fill="#4F4F4F" stroke="none" /><path d="M 65 35 h 10" fill="none" stroke="#8D2323" stroke-width="1"/><text x="78" y="38" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="start" display="none"  >1</text><text x="69" y="34" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="end" display="none"  >1</text><circle cx="78" cy="35" r="3" stroke="#8D2323" fill="none" stroke-width="1" display="none" /><path d="M 75 32 L 72 35 L 75 38" fill="none" stroke="#8D2323" stroke-width="1"  display="none" /></g><g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="2" c_origin="105,35" id="gge274" c_rotation="180"><circle c_pindot="true" class="pindot" cx="105" cy="35" r="2" fill="#4F4F4F" stroke="none" /><path d="M 105 35 h -10" fill="none" stroke="#8D2323" stroke-width="1"/><text x="92" y="38" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="end" display="none"  >2</text><text x="101" y="34" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="start" display="none"  >2</text><circle cx="92" cy="35" r="3" stroke="#8D2323" fill="none" stroke-width="1" display="none" /><path d="M 95 38 L 98 35 L 95 32" fill="none" stroke="#8D2323" stroke-width="1"  display="none" /></g></g><g c_partid="part_netLabel_Bar" c_etype="pinpart" c_origin="60,35" id="gge302" c_shapetype="group" c_rotation="90"><circle c_pindot="true" class="pindot" cx="60" cy="35" r="2" fill="#4F4F4F" stroke="none" /><text x="38" y="55" font-family="Times New Roman" font-size="9pt" fill="#000000" text-anchor="start" transform="rotate(270,38,55)" display="none">V in</text><path d="M 50 35 h 10" id="gge305"  stroke="#000000" stroke-width="1"  fill="none" /><ellipse cx="47" cy="35" rx="3" ry="3" id="gge306" stroke="#000000" stroke-width="1" fill="none"   /></g><g c_partid="part_netLabel_Bar" c_etype="pinpart" c_origin="130,35" id="gge307" c_shapetype="group" c_rotation="270"><circle c_pindot="true" class="pindot" cx="130" cy="35" r="2" fill="#4F4F4F" stroke="none" /><text x="152" y="15" font-family="Times New Roman" font-size="9pt" fill="#000000" text-anchor="end" transform="rotate(270,152,15)" display="none">netName</text><path d="M 140 35 h -10" id="gge310"  stroke="#000000" stroke-width="1"  fill="none" /><ellipse cx="143" cy="35" rx="3" ry="3" id="gge311" stroke="#000000" stroke-width="1" fill="none"   /></g><g c_partid="part_netLabel_Bar" c_etype="pinpart" c_origin="60,75" id="gge315" c_shapetype="group" c_rotation="90"><circle c_pindot="true" class="pindot" cx="60" cy="75" r="2" fill="#4F4F4F" stroke="none" /><text x="38" y="95" font-family="Times New Roman" font-size="9pt" fill="#000000" text-anchor="start" transform="rotate(270,38,95)" display="none">netName</text><path d="M 50 75 h 10" id="gge318"  stroke="#000000" stroke-width="1"  fill="none" /><ellipse cx="47" cy="75" rx="3" ry="3" id="gge319" stroke="#000000" stroke-width="1" fill="none"   /></g><g c_partid="part_netLabel_Bar" c_etype="pinpart" c_origin="130,75" id="gge320" c_shapetype="group" c_rotation="270"><circle c_pindot="true" class="pindot" cx="130" cy="75" r="2" fill="#4F4F4F" stroke="none" /><text x="152" y="55" font-family="Times New Roman" font-size="9pt" fill="#000000" text-anchor="end" transform="rotate(270,152,55)" display="none">netName</text><path d="M 140 75 h -10" id="gge323"  stroke="#000000" stroke-width="1"  fill="none" /><ellipse cx="143" cy="75" rx="3" ry="3" id="gge324" stroke="#000000" stroke-width="1" fill="none"   /></g><g c_partid="part_annotation" id="gge325" c_origin="25,25" c_shapetype="group" c_etype="pinpart"><text x="25" y="25" fill="#000000" font-family="Verdana" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start" type="comment"  >V in</text></g><g c_partid="part_annotation" id="gge327" c_origin="140,25" c_shapetype="group" c_etype="pinpart"><text x="140" y="25" fill="#000000" font-family="Verdana" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start" type="comment"  >V out</text></g><polyline c_etype="wire" c_shapetype="line" points="60 75 130 75" stroke="#008800" id="gge330" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline c_etype="wire" c_shapetype="line" points="105 35 130 35" stroke="#008800" id="gge402" stroke-width="1"   fill="none" stroke-linecap="round" /><polyline c_etype="wire" c_shapetype="line" points="60 35 65 35" stroke="#008800" id="gge404" stroke-width="1"   fill="none" stroke-linecap="round" /><g c_partid="part_junction" c_etype="pinpart" c_origin="125,75" id="gge331" c_shapetype="group"><circle c_pindot="true" class="pindot" cx="125" cy="75" r="2" fill="#4F4F4F" stroke="none"/><circle cx="125" cy="75" r="2.5" fill="#CC0000" stroke-width="1"/></g><g c_partid="part_junction" c_etype="pinpart" c_origin="125,35" id="gge403" c_shapetype="group"><circle c_pindot="true" class="pindot" cx="125" cy="35" r="2" fill="#4F4F4F" stroke="none"/><circle cx="125" cy="35" r="2.5" fill="#CC0000" stroke-width="1"/></g></g></svg>


                        </div>
                        <!-- </iframe> -->
                        <!-- tab nav -->
                        <ul class="nav nav-pills justify-content-end">
                            <!-- TODO: add .active to the <a> for the selected tab -->
                            <!-- TODO: figure out a better id since this is not button -->
                            <!-- Button -->
                            <a href="#" id="prev-btn" class="nav-item nav-link">PREV</a>
                            <!-- Button -->
                            <a href="#" id="next-btn" class="nav-item nav-link">NEXT</a>
                        </ul>

                        <!-- Javascript for lecture slide navigation -->
	                    <script type="text/javascript">
	                        var pagination = 1;
	                        var options = {
	                            height: "270px",
	                            pdfOpenParams: {
	                                page: pagination,
	                                toolbar :0,
	                                statusbar:0,
	                                navpanes:0,
	                                messages:0,
	                                scrollbar:0,
	                                HideWindowUI:1,
	                            },
	                            width:"380px"
	                        }
	                        PDFObject.embed("/uploads/{{filename}}", "#example1", options);
	                        // TODO: prevent the blinking, (ie Make the transition between page smoother)
	                        $('#next-btn').click(()=>{
	                        	// TODO: pagination upper bound check
	                            pagination++;
	                            options.pdfOpenParams.page = pagination;
	                            PDFObject.embed("/uploads/{{filename}}", "#example1", options);
	                        });
	                        $('#prev-btn').click(()=>{
	                        	if (pagination === 1) {
	                        		return;
	                        	} else {
		                            pagination--;
		                            options.pdfOpenParams.page = pagination;
		                            PDFObject.embed("/uploads/{{filename}}", "#example1", options);
	                        	}
	                        });
	                    </script>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </section>

        <section class="mb-4">
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-7 mb-3">

                    <div class="view overlay z-depth-1-half">
                        <h4>Graph control panel <small>(will be placed in the graph)</small></h4>
                        <!-- 			Voltage:<input id="Vol" type="number" value="0" min="0" max="100" />
                                    Resistance:<input id="Res" type="number" value="0" min="0" max="100" />
                                    <p>Capacitance: <input id="Cap" type="number" value="0" min="0" max="100" /></p> -->

                        <!-- TODO: better id instead of "Vol", "Res" and "Cur" -->

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white" id="basic-addon1">Resistance</span>
                            </div>
                            <input id="Res" type="text" class="form-control" placeholder="&#8486" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white" id="basic-addon1">Capacitance</span>
                            </div>
                            <input id="Cap" type="text" class="form-control" placeholder="C" aria-label="Username" aria-describedby="basic-addon1">
                        </div>


                        <script type="text/javascript" src ="/js/lecture/high_pass_filter.js"></script>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 mb-3">

                    <div class="view overlay z-depth-1-half">
                        <!-- Can hide with   style="display: none" -->
                        <div class="jumbotron">
                            <p class="lead">Reserved for further contents</p>
                        </div>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-3">

                    <div class="view overlay z-depth-1-half" id="dynamic-display1">
                        <!-- <iframe src=""></iframe> -->
                        <div>
                            <!-- <link rel="import" href="helloworld.html"> -->
                        </div>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </section>


        <!--bookmark-->


    </div>
</main>
<!--Main layout-->


