<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Animated Epp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- hidden with .collapse -->
                <li class="nav-item active collapse">
                    <a class="nav-link" href="#">Topics
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!--./hidden with .collapse -->

                <!-- TODO: Do better for smaller screen -->
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Topics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/lecture/ohms_law">Ohm's Law</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/lecture/RLC_circuit_DC">RLC Circuit(DC)</a>
                        <a class="dropdown-item" href="/lecture/RLC_circuit">RLC Circuit(AC)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/lecture/filter_index">Filter</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/posts/quiz">Quizzes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Click
        <small>on any of the available topics below</small>
    </h1>

    <div class="row">
        <!-- TODO: make the whole card into a link -->
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100 border-dark">
                <a href="/lecture/high_pass_filter"><img class="card-img-top" src="/pic/ohms_law.png" alt=""></a>
                <div class="card-body bg-light">
                    <h4 class="card-title">
                        <a href="/lecture/high_pass_filter">High Pass Filter</a>
                    </h4>
                    <p class="card-text">Ohm's law states that the current through a conductor between two points is directly proportional to the voltage across the two points. </p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">Week 3 Studio 1</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100 border-dark">
                <a href="/lecture/low_pass_filter"><img class="card-img-top" src="/pic/not_ohms_law.png" alt=""></a>
                <div class="card-body bg-light">
                    <h4 class="card-title">
                        <a href="/lecture/low_pass_filter">Low Pass Filter</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">Week X Studio Y</small>
                    </div>
                </div>
            </div>
        </div>



    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center collapse">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-secondary">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>