<body>

{{>lecture/home-nav}}

<main class="mt-3 pt-3"> <!-- class="mt-5 pt-5"> -->
	<div class="container-fluid">
		<section class="mb-4">
			<!-- Page Heading -->

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-md-7 mb-3">

					<div>
						<div id='ggb' data-step='4' data-intro="This changes will be reflect on graph "></div>

						<div class="container ml-3">
							<button id="DischargeButton" data-step='10' data-intro='Click here to show or unshow Voltage/Capacitor/Resistor Curve'>Discharge</button>
							<button id="ChargingButton">Charge</button>
							<button id="a1">T=RC</button><button id="a5">T=5RC</button>
							<a href="javascript:void(0);" onclick="javascript:startTour();">Show me how</a>
							<script type="text/javascript" src ="/js/lecture/RC_circuit_DC.js"></script>
						</div>
					</div>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-5 mb-3">

					<div><!-- class="view overlay z-depth-1-half"> -->
						<!-- <iframe> -->
							<!-- TODO: find out some way to determine the size of the object wrt to the child instead of hard-coding -->
							<!-- object id="svgObj" data="RC_Circuit_svg.html" width="500px" height="500px"></object> -->

							<!-- TODO: Pagination (display current page number) -->

                        <div id="slide_lecture">
                            <div id="lecture_pg1">
                                <div id="example1"></div>
                                <script src="/pdfjs/pdfobject.js"></script>
                            </div>
                        </div>

							<div id="slide_circuit">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="412" height="468.7891891891892" viewBox="10 -0.5 185 210.5">
									<title>
									</title>
									<style type="text/css">
									#g1 circle.pindot {fill: none;stroke: none;pointer-events: fill;}#g1 rect, #g1 circle, #g1 ellipse, #g1 polyline, #g1 line, #g1 polygon, #g1 path {shape-rendering: crispEdges;}path, polyline, polygon {stroke-linejoin:round;}
									path, polyline, polygon, line {stroke-linecap:round;}
									rect, circle, ellipse, polyline, line, polygon, path {shape-rendering:crispEdges;}

									/* disable highlighting */
									text {
										-webkit-user-select: none;  /* Chrome all / Safari all */
										-moz-user-select: none;     /* Firefox all */
										-ms-user-select: none;      /* IE 10+ */
										user-select: none;          /* Likely future */      
									}

								</style>

								<rect x="10" y="-0.5" width="185" height="210.5" fill="#FFFFFF" stroke="none"/>
								<g id="g1" c_spiceCmd="null" c_para="Prefix Start`1`" importFlag="0" c_portOfADImportHack="" c_transformList="" xmlns="http://www.w3.org/2000/svg">
									<g c_origin="95,35" c_para="package`AXIAL-0.3`nameAlias`Value(&#x3a9;)`BOM_Manufacturer Part`?`spicePre`R`spiceSymbolName`Res_AXIAL-0.3(1/8W)_US`" c_partid="part_import_gge194" id="gge194" c_shapetype="group" c_etype="pinpart" >
										<g c_partid="part_annotation" id="gge196" >
											<text id="gge196text" c_note="note_name" x="89.03125" y="27" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  
											data-step='6' data-intro='Same for Resistance'>1k
											</text>
										</g>
										<g c_partid="part_annotation" id="gge198" >
											<text c_note="note_pre" x="89.0390625" y="18.0078125" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  >R1
											</text>
										</g>
										<polyline points="110 35 107 40" stroke="#A00000" id="gge200" stroke-width="1"   fill="none" stroke-linecap="round" />
										<polyline points="102 30 97 40" stroke="#A00000" id="gge201" stroke-width="1"   fill="none" stroke-linecap="round" />
										<polyline points="107 40 102 30" stroke="#A00000" id="gge202" stroke-width="1"   fill="none" stroke-linecap="round" />
										<g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="2" c_origin="115,35" id="gge203" c_rotation="0">
											<circle c_pindot="true" class="pindot" cx="115" cy="35" r="2" fill="#4F4F4F" stroke="none" />
											<path d="M 115 35 h -5" fill="none" stroke="#800" stroke-width="1"/>
											<text x="106" y="35" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="end" display="none"  >2
											</text>
											<text x="114" y="31" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="start" display="none"  >2
											</text>
											<circle cx="113" cy="35" r="3" stroke="#800" fill="none" stroke-width="1" display="none" />
											<path d="M 110 32 L 107 35 L 110 38" fill="none" stroke="#800" stroke-width="1"  display="none" />
										</g>
										<polyline points="88 40 83 30" stroke="#A00000" id="gge210" stroke-width="1"   fill="none" stroke-linecap="round" />
										<polyline points="97 40 93 30" stroke="#A00000" id="gge211" stroke-width="1"   fill="none" stroke-linecap="round" />
										<polyline points="93 30 88 40" stroke="#A00000" id="gge212" stroke-width="1"   fill="none" stroke-linecap="round" />
										<polyline points="83 30 80 35" stroke="#A00000" id="gge213" stroke-width="1"   fill="none" stroke-linecap="round" />
										<g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="1" c_origin="75,35" id="gge214" c_rotation="180">
											<circle c_pindot="true" class="pindot" cx="75" cy="35" r="2" fill="#4F4F4F" stroke="none" />
											<path d="M 75 35 h 5" fill="none" stroke="#800" stroke-width="1"/>
											<text x="84" y="35" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="start" display="none"  >1
											</text>
											<text x="76" y="31" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="end" display="none"  >1
											</text>
											<circle cx="77" cy="35" r="3" stroke="#800" fill="none" stroke-width="1" display="none" />
											<path d="M 80 38 L 83 35 L 80 32" fill="none" stroke="#800" stroke-width="1"  display="none" />
										</g>
									</g>
									<polyline c_etype="wire" c_shapetype="line" points="145 125 145 175 50 175 50 125" stroke="#008800" id="gge224" stroke-width="1"   fill="none" stroke-linecap="round" />
									<rect id="gge229" x="20" y="10"   width="165" height="190" stroke="none" stroke-width="1" fill="none" c_shapetype="line"  />
									<g c_origin="50,105" c_para="package`HDR1X2`nameAlias`Value`BOM_Manufacturer Part`?`spicePre`V`spiceSymbolName`Vsin`" c_partid="part_import_gge231" id="gge231" c_shapetype="group" c_etype="pinpart" >
										<g c_partid="part_annotation" id="gge233" >
											<text id="gge233text" c_note="note_name" x="62" y="117.25" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  data-step='5' 
											data-intro="Click to change value. Drag up to increase and drag down to decrease">2.00V
											</text>
										</g>
										<g c_partid="part_annotation" id="gge235" >
											<text c_note="note_pre" x="62" y="108.25" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  >V1
											</text>
										</g>
										<ellipse cx="50" cy="105" rx="10" ry="10" id="gge237" stroke="#880000" stroke-width="1" fill="none"   />
										<g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="1" c_origin="50,85" id="gge238" c_rotation="90">
											<circle c_pindot="true" class="pindot" cx="50" cy="85" r="2" fill="#4F4F4F" stroke="none" />
											<path d="M 50 95 v -10" fill="none" stroke="#800" stroke-width="1"/>
											<text x="50" y="97" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="end" display="none" transform="rotate(270,50,97)" >1
											</text>
											<text x="46" y="91" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="start" display="none" transform="rotate(270,46,91)" >1
											</text>
											<circle cx="50" cy="72" r="3" stroke="#800" fill="none" stroke-width="1" display="none" />
											<path d="M 47 75 L 50 78 L 53 75" fill="none" stroke="#800" stroke-width="1"  display="none" />
										</g>
										<polyline points="48 99 52 99" stroke="#880000" id="gge245" stroke-width="1"   fill="none" stroke-linecap="round" />
										<polyline points="50 97 50 101" stroke="#880000" id="gge246" stroke-width="1"   fill="none" stroke-linecap="round" />
										<g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="2" c_origin="50,125" id="gge247" c_rotation="270">
											<circle c_pindot="true" class="pindot" cx="50" cy="125" r="2" fill="#4F4F4F" stroke="none" />
											<path d="M 50 115 v 10" fill="none" stroke="#800" stroke-width="1"/>
											<text x="50" y="111" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="start" display="none" transform="rotate(270,50,111)" >2
											</text>
											<text x="46" y="119" font-family="Verdana" font-size="7pt" fill="#800" text-anchor="end" display="none" transform="rotate(270,46,119)" >2
											</text>
											<circle cx="50" cy="138" r="3" stroke="#800" fill="none" stroke-width="1" display="none" />
											<path d="M 53 135 L 50 132 L 47 135" fill="none" stroke="#800" stroke-width="1"  display="none" />
										</g>
										<polyline points="52 111 48 111" stroke="#880000" id="gge254" stroke-width="1"   fill="none" stroke-linecap="round" />
									</g>
									<g c_origin="145,105" c_para="package`RAD-0.1`nameAlias`Value(F)`BOM_Manufacturer Part`?`spicePre`C`spiceSymbolName`Capacitor`" c_partid="part_import_gge257" id="gge257" c_shapetype="group" c_etype="pinpart" >
										<g c_partid="part_annotation" id="gge259" >
											<text c_note="note_name" id="gge259text" x="154.5" y="117.25" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  
											data-step='7' data-intro='Same for Capacitor'>1u
											</text>
										</g>
										<g c_partid="part_annotation" id="gge261" >
											<text c_note="note_pre" x="154.5" y="108.25" fill="#000080" font-family="Arial" font-size="7pt" font-weight="" font-style="" dominant-baseline="" text-anchor="start"  >C1
											</text>
										</g>
										<polyline points="145 95 145 101" stroke="#8D2323" id="gge263" stroke-width="1"   fill="none" stroke-linecap="round" />
										<polyline points="145 115 145 108" stroke="#8D2323" id="gge264" stroke-width="1"   fill="none" stroke-linecap="round" />
										<rect id="gge265" x="137.8" y="106"   width="14.7" height="1.8" stroke="#8D2323" stroke-width="1" fill="none"   />
										<rect id="gge266" x="137.8" y="101"   width="14.7" height="1.8" stroke="#8D2323" stroke-width="1" fill="none"   />
										<g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="1" c_origin="145,85" id="gge267" c_rotation="270">
											<circle c_pindot="true" class="pindot" cx="145" cy="85" r="2" fill="#4F4F4F" stroke="none" />
											<path d="M 145 85 v 10" fill="none" stroke="#8D2323" stroke-width="1"/>
											<text x="148" y="98" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="end" display="none" transform="rotate(270,148,98)" >1
											</text>
											<text x="144" y="89" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="start" display="none" transform="rotate(270,144,89)" >1
											</text>
											<circle cx="145" cy="98" r="3" stroke="#8D2323" fill="none" stroke-width="1" display="none" />
											<path d="M 148 95 L 145 92 L 142 95" fill="none" stroke="#8D2323" stroke-width="1"  display="none" />
										</g>
										<g c_partid="part_pin" c_etype="pinpart"  c_show="show"  c_elec="0" c_spicepin="2" c_origin="145,125" id="gge274" c_rotation="90">
											<circle c_pindot="true" class="pindot" cx="145" cy="125" r="2" fill="#4F4F4F" stroke="none" />
											<path d="M 145 125 v -10" fill="none" stroke="#8D2323" stroke-width="1"/>
											<text x="148" y="112" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="start" display="none" transform="rotate(270,148,112)" >2
											</text>
											<text x="144" y="121" font-family="Verdana" font-size="7pt" fill="#8D2323" text-anchor="end" display="none" transform="rotate(270,144,121)" >2
											</text>
											<circle cx="145" cy="112" r="3" stroke="#8D2323" fill="none" stroke-width="1" display="none" />
											<path d="M 142 115 L 145 118 L 148 115" fill="none" stroke="#8D2323" stroke-width="1"  display="none" />
										</g>
									</g>
									<polyline c_etype="wire" c_shapetype="line" points="115 35 145 35 145 85" stroke="#008800" id="gge282" stroke-width="1"   fill="none" stroke-linecap="round" />
									<polyline c_etype="wire" c_shapetype="line" points="75 35 50 35 50 85" stroke="#008800" id="gge285" stroke-width="1"   fill="none" stroke-linecap="round" />
								</g>

								<rect id="background" x="20" y="10"   width="165" height="190" stroke="none" stroke-width="1" fill="#FFFFFF" fill-opacity="0.0" c_shapetype="line"   data-step='3' data-intro='This is where you can change Voltage and Capacitence and Resistance of the circuit'/ >

<script type="text/javascript">
	// <![CDATA[
	// TODO: Run the code below at the right time, such as onclick of "playground-btn" or on render
	const gge229 = document.getElementById('gge229');
	const voltage = document.getElementById('gge233text');
	const resistor = document.getElementById('gge196text');
	const capacitor = document.getElementById('gge259text');

	const LECTURE = 0;
	const PLAYGROUND = 1;
	var mode = LECTURE;

	var component = 0; // 0: nothing, 1: battery, 2: resistor, 3: capacitor
	var y0;
	var y = 1;

	var rect = gge229.getBoundingClientRect();
	var rectMarker1 = rect.left + (rect.right - rect.left) / 3;
	var rectMarker2 = rectMarker1 + (rect.right - rect.left) / 3;
	// console.log(rect.top + ',' + rect.bottom);

	function setupCircuit() {
		// break if "Playground" mode is not selected
		if (mode === LECTURE)
			return;
		// console.log("setupCircuit()");
		rect = gge229.getBoundingClientRect();
		rectMarker1 = rect.left + (rect.right - rect.left) / 3;
		rectMarker2 = rectMarker1 + (rect.right - rect.left) / 3;
	}
	window.onload = setupCircuit;

	window.onmousedown = function(e) {
		// console.log(e.clientX + ", " + e.clientY);
	    // TODO: make it work on all types of screen
	    if (e.clientX > rect.left && e.clientX < rectMarker1 && e.clientY > rect.top && e.clientY < rect.bottom) {
	    	component = 1;
	    	y0 = e.clientY;
	    }
	    else if (e.clientX > rectMarker1 && e.clientX < rectMarker2 && e.clientY > rect.top && e.clientY < rect.bottom) {
	    	component = 2;
	    	y0 = e.clientY;
	    } else if (e.clientX > rectMarker2 && e.clientX < rect.right && e.clientY > rect.top && e.clientY < rect.bottom) {
	    	component = 3;
	    	y0 = e.clientY;
	    }
	};

	// TODO: get initial state and save individually
	// BUG: if you modify R after modifying V, R will start with prev V value
	window.onmousemove = function(e) {
		//alert(inResistorRange(e.clientX, e.clientY));
		// console.log(e.clientX + ', ' + e.clientY);
		deltaY = y0 - e.clientY;
		// TODO: voltage can have 0.5V, key in values?

		if (component === 1) {
			y += (deltaY /= 1000);
	        y = y > 0 ? y : 0.01; // lower bound
	        y = y <= 4 ? y : 4.00; // upper bound
	        voltage.textContent = y.toFixed(2) + 'V';
	        document.getElementById("Vol").value = y.toFixed(2);
	    } else if (component === 2) {
			// TODO: different suffix, ie k, M
			y += (deltaY/=100);
			y = y >= 1 ? y : 1; // lower bound
			y = y <= 100 ? y : 100; // upper bound
			resistor.textContent = Math.round(y) + 'k';
			document.getElementById("Res").value = Math.round(y);
		} else if (component === 3) {
			y += (deltaY/=100);
			y = y >= 1 ? y : 1; // lower bound
			y = y <= 100 ? y : 100; // upper bound
			capacitor.textContent = y.toFixed(2) + 'u';
			document.getElementById("Cap").value = y.toFixed(2);
		}
	};

	window.onmouseup = function() {
		component = 0;
	};

	window.onresize = setupCircuit;
	window.onscroll = setupCircuit;

		// ]]>
</script>
Sorry, your browser does not support inline SVG.
</svg>


</div>
<!-- </iframe> -->
<!-- tab nav -->
<ul class="nav nav-pills" role="tablist">
    <!-- TODO: add .active to the <a> for the selected tab -->
  <li class="nav-item">
    <a id="lecture-btn" class="nav-link active" href="#" data-toggle="pill">Lecture</a>
  </li>
  <li class="nav-item">
    <a id="playground-btn" class="nav-link" href="#" data-toggle="pill">Playground</a>
  </li>
    <!-- TODO: figure out a better id since this is not button -->
    <!-- Button -->
    <a href="#" id="prev-btn" class="nav-item nav-link float-right">PREV</a>
    <!-- Button -->
    <a href="#" id="next-btn" class="nav-item nav-link float-right">NEXT</a>
</ul>

<!-- Javascript for lecture slide navigation -->
<script type="text/javascript">
    var pagination = 1;
    var options = {
        height: "380px",
        pdfOpenParams: {
            page: pagination,
            toolbar :0,
            statusbar:0,
            navpanes:0,
            messages:0,
            scrollbar:0,
            HideWindowUI:1,
        },
        width:"500px"
    }
    PDFObject.embed("/lecture/{{filename}}", "#example1", options);
    // TODO: prevent the blinking, (ie Make the transition between page smoother)
    $('#next-btn').click(()=>{
    	// TODO: pagination upper bound check
        pagination++;
        options.pdfOpenParams.page = pagination;
        PDFObject.embed("/lecture/{{filename}}", "#example1", options);
    });
    $('#prev-btn').click(()=>{
    	if (pagination === 1) {
    		return;
    	} else {
            pagination--;
            options.pdfOpenParams.page = pagination;
            PDFObject.embed("/lecture/{{filename}}", "#example1", options);
    	}
    });
</script>
</div>
</div>
<!-- Grid column -->

</div>
<!-- Grid row -->
</section>

<section class="mb-4">
	<!-- Grid row -->
	<div class="row">

		<!-- Grid column -->
		<div class="col-md-7 mb-3" style="display: none;">

			<div class="view overlay z-depth-1-half">
				<h4>Graph control panel <small>(will be placed in the graph)</small></h4>
	<!-- 			Voltage:<input id="Vol" type="number" value="0" min="0" max="100" />
				Resistance:<input id="Res" type="number" value="0" min="0" max="100" />
				<p>Capacitance: <input id="Cap" type="number" value="0" min="0" max="100" /></p> -->

				<!-- TODO: better id instead of "Vol", "Res" and "Cur" -->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text bg-primary text-white" id="basic-addon1">Voltage</span>
					</div>
					<input id="Vol" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
					<div class="input-group-append">
						<span class="input-group-text">V</span>
					</div>					
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text bg-primary text-white" id="basic-addon2">Resistance</span>
					</div>
					<input id="Res" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
					<div class="input-group-append">
						<span class="input-group-text">k&#8486;</span>
					</div>
				</div>	
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text bg-primary text-white" id="basic-addon3">Capacitance</span>
					</div>
					<input id="Cap" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
					<div class="input-group-append">
						<span class="input-group-text">&#181;C</span>
					</div>					
				</div>	

<!-- 				<button id="DischargeButton" data-step='10' data-intro='Click here to show or unshow Voltage/Capacitor/Resistor Curve'>Discharge</button>
				<button id="ChargingButton">Charge</button>
				<button id="a1">T=RC</button><button id="a5">T=5RC</button>
				<a href="javascript:void(0);" onclick="javascript:startTour();">Show me how</a>
				<script type="text/javascript" src ="/js/lecture/RC_circuit_DC.js"></script> -->
			</div>

		</div>
		<!-- Grid column -->

	</div>
	<!-- Grid row -->
</section>

</div>
</main>