<h1> Create Post</h1>
{{#each errors}}
    <div class="alert alert-danger">{{message}}</div>
{{/each}}
<form action="/admin/posts/{{UserId}}/create" method="post" enctype="multipart/form-data">


    <div class="form-group">
        <label for="question"> Question</label>
        <input name="question" type="text" class="form-control" id="question" placeHolder="Enter Question" >
    </div>
    <div class="form-group">
        <label for="answer"> Answer(Cannot be zero)</label>
        <input name="answer" type="text" class="form-control" id="title" placeHolder="Enter Answer" >
    </div>
    <div class="form-group">
        <label for="category"> Category</label>
        <select name="category" id="category" class="form-control">
            <option value="RLC_Circuit">RLC circuit</option>
            <option value="ohmLaw">Ohm's Law</option>
            <option value="filter">filter</option>
            <option value="TEC">Thevenin Equivalent Circuit</option>
        </select>
    </div>





    <button type="submit" class="btn btn-primary">Create Post</button>
</form>