<form action="/quiz_landing" method="post" >
    <input type="checkbox" name="RLC_Circuit" value="RLC_Circuit">RLC circuit<br>
    <input type="checkbox" name="ohmLaw" value="ohmLaw">Ohm's Law<br>
    <input type="checkbox" name="filter" value="filter">Filter<br>
    <input type="checkbox" name="TEC" value="TEC">Thevenin Equivalent Circuit<br>
    <div class="form-group">
        <label for="questionNo"> Category</label>
        <select name="questionNo" id="questionNo" class="form-control">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>
    <input type="submit" value="Submit">
</form>

