<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Animated epp</title>
    <link rel="shortcut icon" href="/pic/robot.png" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">

    <!-- TODO: highlight the correct selection -->
</head>
<body>
{{>home/home-nav}}
    <div class="container ml-5 pt-5">
        <form action="/quiz" method="post" >
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="RLC_Circuit" id="checkbox1" value="RLC_Circuit" style="display: none"><label class="form-check-label" for="checkbox1">
                    <img class="card-title ohm" id="RLC" src="/pic/quiz_RLC.PNG" alt="" width="200" height="200"  style="filter: grayscale(100%);" onclick=backToColor("RLC","RLCtext","checkbox1"); >
                <figcaption><div id="RLCtext">RLC circuit</div></figcaption></label>

                <input class="form-check-input" type="checkbox" name="ohmLaw" id="checkbox2" value="ohmLaw" style="display: none"><label class="form-check-label" for="checkbox2">
                <img class="card-title ohm" id="ohm" src="/pic/quiz_ohm.PNG" alt="" width="200" height="200"  style="filter: grayscale(100%);" onclick=backToColor("ohm","OHMtext","checkbox2"); >
                <figcaption><div id="OHMtext">Ohm's Law</div></figcaption></label>

                    <input class="form-check-input" type="checkbox" name="filter" value="filter" id="checkbox3" style="display: none">
                    <label class="form-check-label" for="checkbox3">
                        <img class="card-title ohm" id="filter" src="/pic/quiz_filter.PNG" alt="" width="200" height="200"  style="filter: grayscale(100%);" onclick=backToColor("filter","FilterText","checkbox3"); >
                        <figcaption><div id="FilterText">Filter</div></figcaption>

                    </label>

                    <input class="form-check-input" type="checkbox" name="TEC" value="TEC" id="checkbox4" style="display: none">
                    <label class="form-check-label" for="checkbox4">
                        <img class="card-title ohm" id="TEC" src="/pic/quiz_TEC.PNG" alt="" width="200" height="200"  style="filter: grayscale(100%);" onclick=backToColor("TEC","TECtext","checkbox4"); >
                        <figcaption><div id="TECtext">Thevenin Equivalent Circuit</div></figcaption>
                    </label>

            </div>
            <div class="form-group">
                <label for="questionNo"> Question number</label>
                <select name="questionNo" id="questionNo" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script>
    let questionChoiceArr = {};
    function backToColor(classname,textName,checkBoxName) {
        if(document.getElementById(checkBoxName).checked){
            document.getElementById(classname).style.filter = "grayscale(100%)";
            document.getElementById(textName).style = "font-style: normal";
            document.getElementById(textName).style.backgroundColor = "#FFFFFF";
            questionChoiceArr.classname =0;
        }else{
            questionChoiceArr.classname =1;
            document.getElementById(classname).style.filter = "grayscale(0%)";
            document.getElementById(textName).style = "font-style: italic";

            document.getElementById(textName).style.backgroundColor = "#00FF00";
        }
        console.log(document.getElementById(classname).style.filter);

    }
</script>
