<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Animated epp</title>
    <link rel="shortcut icon" href="/pic/robot.png" />

    <link rel="stylesheet" href="/css/form-mini.css">

    <style>
        .main-content {
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: #efefef;
        }

        /* TODO: extend padding-bottom to the end of the page */
        /* temp fix */
        html {
            /*background-color: #FFFFFF;*/
        }
    </style>

    <!-- TODO: highlight the correct selection -->
</head>
<body>
    {{>home/home-nav}}


    <div class="main-content">
        <div class="form-mini-container">
            
            <h1>Topics</h1>

            <form class="form-mini" method="post" action="/quiz">

                <div class="form-row">
                    <!-- <h4>Topics</h4> -->
                    <!-- <br /> -->

                    <label class="form-checkbox">
                        <input type="checkbox" name="RLC_Circuit" checked>
                        <span>RLC circuit</span>
                    </label>
                    <br />
                    <label class="form-checkbox">
                        <input type="checkbox" name="ohmLaw" checked>
                        <span>Ohm's Law</span>
                    </label>
                    <br />
                    <label class="form-checkbox">
                        <input type="checkbox" name="filter" checked>
                        <span>Filter</span>
                    </label>
                    <br />
                    <label class="form-checkbox">
                        <input type="checkbox" name="TEC" checked>
                        <span>Thevenin Equivalent Circuit</span>
                    </label>
                </div>

               <div class="form-row">
                    <label>
                        <select name="questionNo" id="questionNo">
                            <option>Choose number of questions</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </label>
                </div>

                <div class="form-row form-last-row">
                    <button type="submit">Start</button>
                </div>

            </form>
        </div>
    </div>

</body>