<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Animated epp</title>
    <link rel="shortcut icon" href="/pic/robot.png" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">

    <!-- TODO: highlight the correct selection -->
</head>
<body>
{{>home/home-nav}}
    <div class="container ml-5 pt-5">
        <form action="/quiz" method="post" >
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="RLC_Circuit" id="checkbox1" value="RLC_Circuit"><label class="form-check-label" for="checkbox1">RLC circuit</label><br />
                <input class="form-check-input" type="checkbox" name="ohmLaw" id="checkbox2" value="ohmLaw"><label class="form-check-label" for="checkbox2">
                <img class="card-title ohm" id="ohm" src="/pic/quiz_ohm.PNG" alt="" width="200" height="200"  style="filter: grayscale(100%);" ontoggle= backToColor("ohm"); >
                Ohm's Law</label>
                <br />
                <input class="form-check-input" type="checkbox" name="filter" value="filter" id="checkbox3">
                <label class="form-check-label" for="checkbox3">Filter</label><br />
                <input class="form-check-input" type="checkbox" name="TEC" value="TEC" id="checkbox4"><label class="form-check-label" for="checkbox4">Thevenin Equivalent Circuit</label><br />
            </div>
            <div class="form-group">
                <label for="questionNo"> Question number</label>
                <select name="questionNo" id="questionNo" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script>
    function backToColor(classname) {
        console.log(document.getElementById(classname).style.filter);
        if(document.getElementById(classname).style.filter == "grayscale(100%)"){
            document.getElementById(classname).style.filter = "grayscale(0%)";
        }
        if(document.getElementById(classname).style.filter == "grayscale(0%)"){
            document.getElementById(classname).style.filter = "grayscale(100%)";
        }

    }
</script>
