{{#each errors}}
    <div class="alert alert-danger">{{message}}</div>
{{/each}}
<h1>{{topic}}</h1>
<form action="/admin/lecture_upload/{{UserId}}/create" method="post" enctype="multipart/form-data">


    <div class="form-group" >
        <!--<label for="file"> File Upload</label>-->
        <input type="file" name="filetoupload"  />
    </div>
    <div class="form-group">
        <select name="Topic" id="Topic" class="form-control">
            <option value="ohms_law" id="ohms_law">ohms_law</option>
            <option value="RC_Circuit_DC" id="RC_Circuit_DC">DC Transient - Capacitor</option>
            <option value="RL_Circuit_DC" id="RL_Circuit_DC">DC Transient - Inductor</option>
            <option value="RC_Circuit" id="RC_Circuit">RC Circuit (AC)</option>
            <option value="RL_Circuit" id="RL_Circuit">RL Circuit (AC)</option>
            <option value="RLC_Series_Circuit"  id="RLC_Series_Circuit">Series RLC Circuit</option>
            <option value="high_pass_filter" id="high_pass_filter">High Pass Filter</option>
            <option value="low_pass_filter" id="low_pass_filter">Low Pass Filter</option>

        </select>
    </div>


    <button type="submit" class="btn btn-primary">Create Post</button>
</form>
<script>
        {{#each contentArr}}
        $('#{{this}}').attr("disabled","true");
        {{/each}}
</script>